---
layout: default
title: Home
keywords: dosbox,dos,games,browser,javascript,js-dos
description: A javascript version of dosbox that can run dos programs and games in browser.
---

<div class="posts">
  <div class="post">
    <h1 class="post-title">
      Publish Game
    </h1>

    <span class="post-date">16 Jul 2017</span>

    You can upload games on js-dos.com. All upload will be checked before publishing. <a id="upload-click" href="#" onclick='javascript: document.getElementById("upload-form").style.display="block";document.getElementById("upload-click").style.display="none"'>Click to upload</a>

    <form id="upload-form" class="upload-form" method="POST" target="_blank" action="uploadgame" enctype="multipart/form-data">
      <p><label for="author">Your name (appears on site)</label><input type="text" name="author" placeholder="@caiiiycuk"></p>
      <p><label for="game">Game name (appears on site)</label><input type="text" name="game" placeholder="Digger"></p>
      <p><label for="executable">Command to run</label><input type="text" name="executable" placeholder="./DIGGER.COM"></p>
      <p><label for="resolution">Resolution</label><input type="text" name="resolution" placeholder="640x400" ></p>
      <p><label for="archive">Zip archive (max 10mb)</label><input type="file" name="archive"></p>
      <button type="submit">Publish</button>
    </form>
  </div>

  {% for post in paginator.posts %}
  {% if post.private != true %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.showfull == true %}
      {{ post.content }}
    {% else %}
      {{ post.excerpt }}
      <a href="{{ post.url }}">Read more</a>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>