/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8F398F;
  --ifm-color-primary-dark: #752F75;
  --ifm-color-primary-darker: #5C255C;
  --ifm-color-primary-darkest: #4C154C;
  --ifm-color-primary-light: #A854A8;
  --ifm-color-primary-lighter: #C274C2;
  --ifm-color-primary-lightest:#D284D2;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
