### Details

<div itemscope itemtype="http://schema.org/VideoGame">
  <meta itemprop="playMode" content="SinglePlayer">
  <ul>
    <li><span itemprop="name">{{include.name}}</span> was created in {{include.createdat}}</li>
    <li><span class="gray">Creator</span> <span itemtype="http://schema.org/publisher">{{include.publisher}}</span></li>
    <li><span class="gray">Category</span> {{include.category}}</li>
    <li itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating"><span class="gray">Age rating</span> +<span itemprop="ratingValue">0</span></li>
    <li itemprop="gamePlatform"><span class="gray">Platform</span> PC</li>
  </ul>
</div>