.editor-window {
    @apply overflow-hidden flex-grow flex flex-col items-center justify-center frame-color px-8;

    textarea {
        @apply px-4 border-0 outline-none;
        background-color: var(--window-bg);
        color: var(--window-color);
        resize: none;
    }
}