<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JS-DOS / $dir / $title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <style type="text/css">
      div.emscripten, .emscripten-status, .emscripten-padding {
        padding-top: 20px;
        padding-left: 20px;
      }

      .fullscreen {
        display: none;
        margin-top: 20px;
        margin-left: 20px;
      }

      .emscripten canvas {
        border: 0;
        /*cursor: none;*/
      }
    </style>
  </head>
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar" style="visibility: hidden;">
    <div class="emscripten-status" >
      Starting MS-DOS...<br/>
      MS-DOS Version 6.22<br/><br/>
      <p id="error"></p>
      <p id="status">Downloading data...</p>
      <p id="progress">Progress...</p>
    </div>

    <div class="emscripten">
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <div class="fullscreen">
      <a id="fullscreen" href="javascript:void(0);">Fullscreen</a><br/><br/>
      <strong>NOTES:</strong> 
        <ul>
          <li>If you have problem with mouse positioning try to switching to <b>Fullscreen</b> mode</li>
          <li>Your browser may hang up during loading of the game, please be patient</li>
        </ul>
    </div>

    <div class="emscripten-padding">
      <a href="/$dir.lower">cd C:&#92;$dir</a>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js" defer></script>

    <script type='text/javascript'>
      var statusElement = document.getElementById('status');
      var progressElement = document.getElementById('progress');

      var Module = {
        preRun: [],
        postRun: [],
        print: (function() {
          var element = document.getElementById('output');
          if (element) element.value = ''; // clear browser cache
          return function(text) {
            text = Array.prototype.slice.call(arguments).join(' ');
            console.log(text);
            if (element) {
              element.value += text + "\n";
              element.scrollTop = element.scrollHeight; // focus on bottom
            }
          };
        })(),
        printErr: function(text) {
          text = Array.prototype.slice.call(arguments).join(' ');
          if (0) { // XXX disabled for safety typeof dump == 'function') {
            dump(text + '\n'); // fast, straight to the real console
          } else {
            console.error(text);
          }
        },
        canvas: (function() {
          var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })(),
        setStatus: function(text) {
          if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
          if (text === Module.setStatus.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          var now = Date.now();
          //if (m && now - Date.now() < 30) return; // if this is a progress update, skip it if too soon
          if (m) {
            text = m[1];
            progressElement.innerHTML = "Progress " + Math.round(parseInt(m[2]) / parseInt(m[4]) * 100) + "%";
            progressElement.hidden = false;
          } else {
            progressElement.hidden = true;
          }
          statusElement.innerHTML = text;
        },
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');

          if (left == 0) {
            \$('.emscripten-status').hide();
            \$('.fullscreen').show();
          }
        }
      };
      Module.setStatus('Downloading...');
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };

       \$(document).ready(function () {
         \$("#fullscreen").click(function() {
            Module.requestFullScreen(false, false);
         });

         setTimeout(function () {
          \$.ajax({
             url: "/dosbox.js",
             dataType: "script",
             error: function(jqXHR, textStatus, error) {
              \$('#error').html('Exception thrown, see JavaScript console');
              console.log(textStatus, error);
             },
             xhr: function() {
               var xhr;
               Module.setStatus("Downloading script");
               xhr = \$.ajaxSettings.xhr();
               xhr.addEventListener("progress", function(evt) {
                 if (evt.lengthComputable) {
                   Module.setStatus("Downloading script... (" + evt.loaded + "/" + evt.total + ")");
                 }
               });
               return xhr;
             }
          });
         }, 1000);
      });
   </script>
   <!-- <script async type="text/javascript" src="/dosbox.js"></script> -->

   [% INCLUDE metrika.tt %]

  </body>
</html>
