<li><div class="pull"><h2 class="pull-left"><a href="$link.lower">$title</a></h2><span class="pull-right">$type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[% PERL %]print "07.05.199" . (4 + int(rand(3)));[% END %]&nbsp;&nbsp;[% PERL %]print sprintf("%02d.%02d", int(rand(24)), int(rand(60)));[% END %]</span></div></li><br/>