@import "./editor/editor-frame.css";

.premium-plan-root {
  @apply bg-white rounded-xl px-4 pt-4 pb-2;
  width: calc(var(--frame-width) * 0.7);
}

.premium-plan-root.have-premium {
  @apply bg-green-200;
}

.premium-plan-head {
  @apply text-blue-400;
}

.premium-plan-cost {
  @apply text-blue-600 text-5xl;
}

.premium-plan-cost-expl {
  @apply text-gray-600 ml-4 flex flex-col;
}

.premium-plan-highlight {
  @apply flex flex-row text-xs items-center py-2 border-b border-b-gray-200;
  @apply text-gray-600;
}

.premium-plan-root.have-premium .premium-plan-highlight {
  @apply border-b-green-300;
}

.settings-frame {
  @apply px-8 py-4;

  .option {
    @apply w-full justify-between;
  }

  .slider {
    .touch {
      @apply w-40 flex-grow-0;
    }
  }
}

.account-frame {
  button {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
  }
}